= form_for @driver do |d|
  %form
    .form-group
      = d.label :nombre, class: 'form-check-label'
      = d.text_field :name, class: 'form-control'
    .form-group
      = d.label :email, class: 'form-check-label'
      = d.text_field :email, class: 'form-control'
    .form-group
      = d.label :phone_number, class: 'form-check-label'
      = d.text_field :phone_number, class: 'form-control'
    .form-group
      = d.label :dirección, class: 'form-check-label'
      = d.text_field :address, class: 'form-control'
    .form-group
      = d.label :observaciones, class: 'form-check-label'
      = d.text_area :observations, class: 'form-control', rows: '5'

    = d.submit 'Aceptar', class: 'btn btn-primary btn-block'
